{% extends 'admin/base.html' %}
{% block title %}Create Post{% endblock %}

{% block page_content %}
    <form action="{{ url_for('admin.modify_post', post_id=post.id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label  }}:{{ form.title }}<br/>
        {{ form.slug.label  }}:{{ form.slug }}<br/>
        {{ form.summary.label  }}:{{ form.summary }}<br/>
        {{ form.content.label  }}:{{ form.content }}<br/>
        {{ form.categories.label }} : {{ form.categories }}<br/>
        <input type="submit" value="Edit">
    </form>
{% endblock%}